<div class="flex flex-wrap justify-center">
    @for (product of productList; track product) {
        <div class="w-1/4 m-8 ">
            <app-marchandises [product]="product" [id]="$index" [panier]="true"/>
        </div>
    }
    <!-- <div class="w-1/4 m-8 ">
        <app-marchandises/>
    </div>
    <div class="w-1/4 m-8 ">
        <app-marchandises/>
    </div>
    <div class="w-1/4 m-8 ">
        <app-marchandises/>
    </div>
    <div class="w-1/4 m-8 ">
        <app-marchandises/>
    </div>
    <div class="w-1/4 m-8 ">
        <app-marchandises/>
    </div> -->

</div>