<section class="max-w-2xl mx-auto bg-white p-8 shadow-md rounded-lg">
    <h2 class="text-2xl font-bold mb-6">Créer d'un produit</h2>
    <form  (ngSubmit)="save_product()" [formGroup]="add_product" class="space-y-4">
      <!-- name -->
      <div>
        <label for="name" class="block text-sm font-medium text-gray-700"
          >Nom produit</label
        >
        <input
          type="text"
          id="name"
          formControlName="name"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        />
      </div>
  
      <!-- info -->
      <fieldset
        class="border border-gray-300 p-4 rounded-md"
      >
        <legend class="text-lg font-semibold text-gray-700">info</legend>
        <div class="space-y-4">
          <div>
            <label for="price" class="block text-sm font-medium text-gray-700"
              >price</label
            >
            <input
              type="nomber"
              id="price"
              formControlName="price"
              class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
            />
          </div>
          <div>
            <label
              for="genre"
              class="block text-sm font-medium text-gray-700"
              >type de produit</label
            >
            <input
              type="text"
              id="genre"
              formControlName="genre"
              class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
            />
          </div>
        </div>
      </fieldset>
  
      <!-- Submit button -->
      <button
        type="submit"
        class="w-full inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
      >
        Enregistrer
      </button>
    </form>
  </section>



  <div class="relative overflow-x-auto m-3">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    nom
                </th>
                <th scope="col" class="px-6 py-3">
                    prix
                </th>
                <th scope="col" class="px-6 py-3">
                    genre
                </th>
                <th scope="col" class="px-6 py-3">
                    supprimer
                </th>
            </tr>
        </thead>
        <tbody>
            @for (product of productList; track product) {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{product.name}}
                    </th>
                    <td class="px-6 py-4">
                        {{product.price}}
                    </td>
                    <td class="px-6 py-4">
                        {{product.genre}}
                    </td>
                    <td class="px-6 py-4">
                        <button class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="removeProduct($index)">delete</button>
                    </td>
                </tr>
              }
        </tbody>
    </table>
</div>


